/* Estilos para el fondo del modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  }
  
  /* Estilos para centrar el modal */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1050;
  }
  
  /* Estilos del modal en sí */
  .modal-dialog {
    max-width: 500px;
    margin: 0 auto;
  }
  